#dry-run {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    .links line {
        stroke: #999;
        stroke-opacity: 0.6;
    }

    .node circle {
        stroke: #fff;
        stroke-width: 1.5px;
    }
    .node text {
        font-size: 13px;
        fill: #000;
        color: #000;
        font: 10px sans-serif;
    }
}
